body {
    font-family: "Century Gothic", Arial, sans-serif;
    text-align: center;
    color: white;
    background: #210f24;
    margin: 0;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}


#warn > #warning {
    color: yellow;
    font-weight: bold;
}

footer {
    margin:  3em auto;
    border-top: 1px #000 solid;
    width: 80%;
}

#dropSearch {
    max-height: 100%;
    width: 30%;
    color: black;
    border: 1px solid;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box; /* Ensures padding is included in total height */
    flex-shrink: 1; /* Allows it to shrink within flex parent */
}

.hide {
    display: none;
    margin: 0;
    height: 0;
}

.container{
    justify-content: center;
    color: black;
    padding: 3%;
    background-color: rgb(255 255 255 / 80%);
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
}

.container:hover {
    position: relative;
    z-index: 10;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 3px solid cornflowerblue;
    transition: transform 0.4s ease, box-shadow 0.3s ease;

}

#searchBar {
    display: flex;
    justify-content: center; /* Centers horizontally */
    height: 50px;
}

main {
    height: 600px;
}

.text-div {
    margin: 0.5% auto;
    border: 2px solid #9e9b9b;
    padding: 2%;
    text-align: center;
    max-height: 330px;
    width: 80%;
    overflow: auto; /* Enables scrolling if content overflows */
    overflow-x: hidden;
}

.preview_descr {
    border-top: 2px solid #9e9b9b;
    padding-top: 2%;
    margin-top: 2%;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*.text-div p {*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*}*/

#title {
    padding: 1%;
    text-align: center;
    border-bottom: 2px #C0C0C0 solid;
    background-color: #181818;
    width: 100%;
    /*making the title div fit the whole of the screen?*/
    /*position: absolute;*/
    /*top: 0;*/
    margin: 0 0 15px;
}

h1 {
    margin: 0;
}

#nasa_gallery {
    width : 80%;
    margin: 2% auto 0;
    max-width: 100%; /* Ensure it doesn't overflow the container */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 3fr));
    gap: 20px;
    vertical-align: middle;
}

#nasa_gallery > div > img{
    max-height: 200px;
}
#nasa_gallery > div > video{
    max-height: 200px;
}

#nasa_gallery > div > img:hover {
    cursor: pointer;
    image-rendering: -webkit-crisp-edges;
}

@media screen and (max-width: 1200px) {
    #nasa_gallery {
        width : 80%;
        margin: 2% auto 0;
        padding: 2%;
        overflow-wrap: break-word;  /* Same as above, modern syntax */
        white-space: pre-wrap;  /* Ensures the text will wrap and doesn't overflow */
        max-width: 100%; /* Ensure it doesn't overflow the container */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35%, 2fr));
        gap: 15px;
        vertical-align: middle;
    }
}

@media screen and (max-width: 800px) {
    #nasa_gallery {
        width : 80%;
        margin: 2% auto 0;
        padding: 2%;
        overflow-wrap: break-word;  /* Same as above, modern syntax */
        white-space: pre-wrap;  /* Ensures the text will wrap and doesn't overflow */
        max-width: 100%; /* Ensure it doesn't overflow the container */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        gap: 10px;
        vertical-align: middle;
    }
}

#back2top, #backButton {
    color: cornflowerblue;
    padding : 1%;
    width: 20%;
    background-color: #181818;
    border: 1px cornflowerblue solid;
    margin: 2%;
}

#btn1 {
    height: 100%;
    width: 100px;
    background-color: cornflowerblue;
    border-radius: 10px;
    outline: none;
    color: aliceblue;
}

#btn1:hover {
    background-color: #4063a3;
    color: white;
}


#bigImg {
    color: black;
    background-color: rgb(255 255 255 / 80%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5%;
}

.big-img > img, video{
    width: 100%;
    height: 100%;
}

#load_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: transparent;
    z-index: 9999;
}

.load_progress {
    width: 0;
    height: 100%;
    background-color: cornflowerblue;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        width: 0;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

.keyword {
    color: cornflowerblue;
    font-weight: bold;
}

#keywords > a, #keywords > p {
    display: inline;
}

#keywords {
    margin: 2%;
}

.video {
    width: 100%;
    margin: 2%;
}